body {
  background-color: rgb(76, 214, 198);
}

h1 {
  color: white;
  text-align: center;
  text-decoration: overline;
}

.container {
  border-radius: 50px 140px 50px 140px;
  background-color: white;
  text-align: center;
  width: 400px;
  height: 100px;
  padding: 5%;
  margin: auto;
}

button {
  background-color: rgb(76, 214, 198);
  color: rgb(127, 127, 127);
}
